{% extends "admin/base.html.twig" %}

{% block title %}{{recipe.name}}{% endblock %}

{% block body %}
<main>
<div class="container-fluid">
<h1>{{recipe.name}}</h1>
<h2>Temps de Prépartion: {{recipe.duration}} minutes</h2>
<h3>Pour {{recipe.numberOfPlates}} personnes</h3>
<p>{{recipe.description}}</p>
</div>
</main>
{% endblock %}
